.row {
	display: flex;
	margin: 5px;
}

.row div {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	border: solid black;
	margin: 5px;
	padding: 10px;
}

#full-display {
	display: flex;
	font-size: 20pt;
}

#full-display > div {
	border: none;
}

#display {
	justify-content: flex-end;
}

#history {
	justify-content: flex-start;
}

#calculator {
	width: 50%;
	margin: 0 auto;
}

.operator, #decimal, #clear, #negate {
	background-color: lightgray;
}

.arithmetic {
	background-color: #6C8C43;
	color: white;
}

.number {
	background-color: #4d7771;		
	color: white;
}

html {
	font-family: sans-serif;
}